/*=============== All | Body ===============*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff1f7;
}

html {
  scroll-behavior: smooth;
}
/*=============== TopNav ===============*/

.topnav {
  background-color: #948771;
  display: flex;
  justify-content: center;
  padding-inline-end: 50px;
}

.topnav a {
  color: white;
  font-size: larger;
  text-decoration: none;
  margin-left: 40px;
  padding: 20px 20px;
}

.topnav a:hover {
  background-color: #fff1f7;
  color: black;
}

/*=============== Header ===============*/

.console-container {
  font-size: 4em;
  text-align: center;
  height: 200px;
  display: block;
  color: black;
  margin: auto;
}

.console-underscore {
  display: inline-block;
  position: relative;
}

/*=============== Moving Pic ===============*/

.pic {
  text-align: center;
}
.amogus {
  clip-path: circle(45%);
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    box-shadow: 0px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }

  100% {
    box-shadow: 0px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

/*=============== Features | Images ===============*/

.container {
  max-width: 1600px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

feature {
  padding: 50px 0px;
}

.feature-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.feature h2 {
  font-size: 40px;
  color: black;
}

.feature p {
  margin: 20px 0;
  size: 20px;
  color: #555;
  font-weight: bold;
}

.feature small {
  font-size: 1.6rem;
  color: #666;
  font-weight: 600;
}

.feature-img {
  flex: 1 1 400px;
  padding: 30px;
}

.feature-text {
  flex: 1 1 400px;
  padding: 30px;
}

.features-img img {
  display: block;
  height: 30px;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
  object-position: center;
}

.featureimg {
  border-radius: 20px;
  width: 650px;
  height: 450px;
}

/*=============== Footer ===============*/

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

footer {
  background-color: #948771;
  padding: 25px 35px;
  font-size: medium;
  justify-content: center;
  display: flex;
  margin: 1 10px;
}

footer h1 {
  text-decoration: none;
  color: black;
  font-size: 35px;
  letter-spacing: 2px;
}

footer a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
